In [2]:
import pandas as pd
import numpy as np

In [32]:
data= pd.read_csv(r"C:\Users\s0116731\Desktop\salaries_dataset.csv")
salary = data.drop(['rank','discipline','sex','yrs.since.phd'],axis=1)
print(salary)

     yrs.service  salary
0             18  139750
1             16  173200
2              3   79750
3             39  115000
4             41  141500
..           ...     ...
392           30  103106
393           19  150564
394           25  101738
395           15   95329
396            4   81035

[397 rows x 2 columns]

In [33]:
from sklearn.model_selection import train_test_split
X = salary[['yrs.service']]
y = salary['salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
salary = scale.fit_transform(salary)

from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

y_predict = linear_reg.predict(X_test)
pd.DataFrame({'Predicted': y_predict})

         Predicted
0    107810.521614
1    107810.521614
2    118886.158166
3    102641.891223
4    104857.018533
..             ...
128  117409.406626
129  115932.655085
130  110764.024694
131  104857.018533
132  122578.037017

[133 rows x 1 columns]

In [31]:
pd.DataFrame({'Actual': y_test, 'Predicted': y_predict})

     Actual      Predicted
65   100522  100572.384829
132   77500  102067.660097
74   113398  119952.636117
78    86100   95814.723328
37    86373   99989.828639
..      ...            ...
355  145028  116670.807487
393  150564  126846.456263
66   101000  117602.968960
303  105260  110456.755510
307  122500  121428.468988

[133 rows x 2 columns]